<div style="padding-top: 30px;">
<%= form_for [@the_country, @the_team, @the_statement] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :image_url %>
	<%= f.text_field :image_url %>
	<br>
	<%= f.label :date %>
	<%= f.date_field :date %>
	<br>
	<%= f.label :author %>
	<%= f.text_field :author %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>

	<%= f.submit "Save" %>

<% end %>
</div>

