<div class="row">
<div class="col-md-12 container-cards">
	<div class="container-below-header">
		<h2 class="below-header-heading"><strong>Right foot</strong> - Take a side on what's happening with <%=@the_team.name%>!</h2>
	</div>
	<div>
		<ul class="ul-bullet">
			<% @the_statements.reverse_each do |statement| %> 
				<li class="col-md-4">
					<div class="wrapper">
			            <div class="card radius shadowDepth1">
			                <div class="card__image border-tlr-radius">
			                    <a href="/rightfoot/<%=statement.id%>"><img src="<%= statement.image_url%>" alt="image" class="border-tlr-radius"></a>
			                </div>
			                <div class="card__content card__padding">
			                    <div class="card__meta">
			                        <a href="#"><%=@the_team.name %></a>
			                        <time><%= statement.date %></time>
			                    </div>
			                    <article class="card__article">
			                        <h2><a href="/rightfoot/<%= statement.id%>"><%= statement.title %></a></h2>
			                    </article>
			                </div>
			            </div>
		    		</div>
		    	</li>
            <% end %>
       	</ul>
    </div>
</div>
</div>