<script type="text/javascript">var user = '<%= @the_user_name %>' </script>
<h2 class="title-h2"><%= @the_statement.title %></h2>
<div class="image">
  <img src="/assets/realmadrid.jpg">
</div>
<br>
<div class="content-statement">
	<p class="js-brief-description brief-description"><strong>Brief description</strong>  <span class="js-description-gly glyphicon glyphicon-chevron-down"></span></p>
	<div class="js-brief-description-content panel panel-default">
      <div class="panel-body">
        <%= @the_statement.description %>
      </div>
    </div>
  </p>
	<div type="button" class="btn btn-lg btn-default js-agree" id="<%=@the_statement.id%>"><span class="glyphicon glyphicon-thumbs-up"></span> Agree </div>
	<div type="button" class="btn btn-lg btn-default js-disagree" id="<%=@the_statement.id%>"><span class="glyphicon glyphicon-thumbs-down"></span> Disagree </div>
	<p class="js-results result-h2"></p>


<div class="progress js-progress">
</div>


<div class="detailBox js-comment-box">
<div class="titleBox">
      <label>Comment Box</label>
    </div>
    <div class="actionBox">
        <ul class="commentList js-all-comments">

        </ul>
        <form class="form-inline js-submit" role="form">
            <div class="form-group">
                <input class="form-control-b js-input" type="text" placeholder="And why is that?" id="comment" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>














    <!-- <form class="js-submit">
      <div>
        <label for="comment">Comment</label>
        <input type="text" id="comment" placeholder="place your comment here">
      </div>
      <div> 
        <button type="submit">Add</button>
      </div>
    </form>

    <ul class="js-all-comments ul-bullet"></ul> -->
</div>
